body{
	margin:0 auto;
}
	
.head{
	margin:0 auto;
<<<<<<< HEAD
	/*background-color:blue;*/
	width:800px;
	height:80px;
	margin-top: 80px;
}
#top{
	width:575px;
	height:35px;
	background-color:#E90649;
	float:right;
	margin-top:10px;
	border-width:50px; 
}
#radius{
	width:165px;
	height:165px;
	border-radius:80%;
	background-color: white;
	margin-left: 45px;
	margin-top:30px;
	border-width:1.2px;
	border-style:solid;
	border-color:#E90649 ;
}
.main{
	margin:0 auto;
	width:800px;
	height:400px;
/*background-color: black;*/
=======
	background-color:blue;
	width:800px;
	height:145px;
}
#top{
	width:600px;
	height:35px;
	background-color:#E90649;
	float:right;
	margin-top:50px;
	border-width:50px; 
	background-image: url(./image/er.png)
}
.main{
	margin:0 auto;
	/*background-color:black;*/
	width:800px;
	height:300px;
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa
}
#personal{
	height:350px;
	width:280px;
	color:#414B56;
	float:left;
	font-family: 宋体;
	font-size: 18px;
<<<<<<< HEAD
	
=======
	/*background-color: green;*/
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa
}
#skill{
	width: 485px;
	height: 380px;
	color:#414B56;
	float:right;
	font-size: 20px;
	
}
#game{
	width: 485px;
<<<<<<< HEAD
	height: 400px;
	color:#414B56;
	float:right;
	font-size: 20px;
	margin-top: 50px;
=======
	height: 300px;
	color:#414B56;
	float:right;
	font-size: 20px;
	margin-top: 15px;
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa
}
.small{
	width:485px;
	height:32px;
	background-color: #E90649;
	margin-bottom:5px;
	float:left;
	text-align:top;
}
.content{
<<<<<<< HEAD
	margin-top: 15px;
	/*background-color: red;*/
	width:485px;
	
=======
	margin-top: 10px;
	background-color: red;
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa
}
.footer{
	margin:0 auto;
	width:800px;
<<<<<<< HEAD
	height:700px;
	/*background-color:green;*/
	margin-top:0px;
=======
	height:300px;
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa
}
#school{
	height:250px;
	width:280px;
	color:#414B56;
	float:left;
	font-family: 宋体;
	font-size: 18px;
<<<<<<< HEAD
	margin-top:95px;
}
#resume{
	height:250px;
	width:280px;
	color:#414B56;
	float:left;
	font-family: 宋体;
	font-size: 18px;
	margin-top:60px;
}
#practice{
	width: 485px;
	height: 200px;
	color:#414B56;
	float:right;
	font-size: 20px;
	margin-top: 15px;
=======
	margin-top:20px;
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa
}

h1{
	text-align: center;
	color:#E90649;/*颜色红色*/
<<<<<<< HEAD
	margin-top: 130px;
=======
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa
}

h2{
	text-align:center;
	color:#E90649;
<<<<<<< HEAD
	margin-top: 65px;
=======
	margin-top: 55px;
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa
}
h4{
	color:white;
	margin:0;
	padding:0;
	padding-top: 2px;
	margin-left: 5px;
}

.erweima{
<<<<<<< HEAD
	width:125px;
	height:113px;
	margin-left: 20px;
	margin-top:25px;
=======
	width:150px;
	height:100px;
	margin-left: 30px;
	margin-top:20px;
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa

}
ul{
	list-style-type:none;
	margin-left:15px;
	margin-bottom:5px;
	padding:0;
	color:#D67500;
}
#skill li{
	margin-left:38px;
	font-size:15px;

}
#personal li{
	list-style-type:none;
	margin-bottom:10px;
}
#school li{
	list-style-type:none;
	margin-bottom:10px;
}
#game li{
	margin-left:38px;
	font-size:15px;
}
<<<<<<< HEAD
#resume li{
	list-style-type:none;
	margin-bottom:10px;
}
#practice li{
	margin-left:38px;
	font-size:15px;
	display:inline;
}
#date{
	margin-top: 20px;
	color:#D67500;
}
=======
>>>>>>> f62add9194495138fdedc96f3fb264cc319448aa
