body{
	margin:0 auto;
}
	
.head{
	margin:5% auto;
	padding:0;
	/*background-color:blue;*/
	width:800px;
	height:5px;
}

#radius{
	margin:0;
	padding:0;
	width:168px;
	height:166px;
	border-radius:65%;
	margin-left:58px;
	background-color:white;
	border:1px solid #E90649;
	
}

#top{
	margin:0;
	padding:0;
	margin-top:10px;
	float:right;
	width:550px;
	height:35px;
	background-color:#E90649;
}
.erweima{
	width:125px;
	height:113px;
	margin-left: 22px;
	margin-top:30px;
}
.main{
	margin:0 auto;
	padding:0;
	/*background-color:black;*/
	width:800px;
	height:400px;
}

#personal{
	width:280px;
	height:400px;
	color:#414B56;
	float:left;
	font-family:宋体;
	font-size: 18px;
	/*background-color: green;*/
}
#skill{
	width:485px;
	height:400px;
	color:#414B56;
	float:right;
	font-size: 20px;
}
#game{
	width: 485px;
	height: 400px;
	color:#414B56;
	float:right;
	font-size: 20px;
	margin-top: 30px;
}
#advantage{
	list-style-type:none;
}
.content p{
	font-size: 15px;
	color:#D67500;
	margin-left: 150px;
}
.small{
	width:485px;
	height:32px;
	background-color: #E90649;
	margin-bottom:5px;
	float:left;
	text-align:top;
}
.content{
	margin-top: 15px;
	/*background-color: red;*/
	width:485px;
}
.footer{
	margin:0 auto;
	width:800px;
	/*background-color:green;*/
	margin-top:0px;
	height:300px;
}
#school{
	height:250px;
	width:280px;
	color:#414B56;
	float:left;
	font-family: 宋体;
	font-size: 18px;
	margin-top:120px;
}
#resume{
	height:250px;
	width:280px;
	color:#414B56;
	float:left;
	font-family: 宋体;
	font-size: 18px;
	margin-top:45px;
}
#practice{
	width: 485px;
	height: 200px;
	color:#414B56;
	float:right;
	font-size: 20px;
	margin-top: 55px;
}

h1{
	text-align: center;
	color:#E90649;/*颜色红色*/
	margin-top: 145px;
}

h2{
	text-align:center;
	color:#E90649;
	margin-top: 65px;
}
h4{
	color:white;
	margin:0;
	padding:0;
	padding-top: 2px;
	margin-left: 5px;
}

ul{
	list-style-type:none;
	margin-left:15px;
	margin-top:40px;
	margin-bottom:15px;
	padding:0;
	color:#D67500;
}
#skill li{
	margin-left:38px;
	font-size:15px;
	padding-top: 5px;

}
#personal li{
	list-style-type:none;
	margin-bottom:10px;
	
}
#school li{
	list-style-type:none;
	margin-bottom:10px;
}
#game li{
	margin-left:38px;
	font-size:15px;
	padding-top: 5px;
}
#resume li{
	list-style-type:none;
	margin-bottom:10px;
}
#practice li{
	margin-left:38px;
	font-size:15px;
	display:inline;
}
#date{
	margin-top: 20px;
	color:#D67500;
}

